body {
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-margin: 25px;
    transition: 0.85s;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    /* background: #8696AD; */
    background: #e76161;
}

body::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
}

::selection {
    background: #f0456160;
}

html {
    display: block;
}

h2 {
    display: inline-block;
    /* background: linear-gradient(93.05deg, #EF9797 3.98%, rgba(206, 126, 199, 0.801616) 35.29%, #A364D6 68.78%,
    #A1D0F9 97.44%); */
    background-color: #ee8c68;
    background-image: linear-gradient(315deg, #ee8c68 0%, #eb6b9d 74%);
    width: fit-content;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h3 {
    /* color: #8696AD; */
    color: #eb6b9d;
}

h4 {
    display: inline-block;
    /* background: linear-gradient(93.05deg, #f89898 3.98%, rgba(253, 141, 244, 0.802) 35.29%, #b273e6 68.78%,
    #A1D0F9 97.44%); */
    background-color: #ee8c68;
    background-image: linear-gradient(315deg, #ee8c68 0%, #eb6b9d 74%);
    width: fit-content;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h5 {
    /* color: #8696AD; */
    color: #eb6b9d;
}

h1 {
    display: inline-block;
    /* background: linear-gradient(93.05deg, #EF9797 3.98%, rgba(206, 126, 199, 0.801616) 35.29%, #A364D6 68.78%,
    #A1D0F9 97.44%); */
    background-color: #ee8c68;
    background-image: linear-gradient(315deg, #ee8c68 0%, #eb6b9d 74%);
    width: fit-content;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 36px;
}

h6 {
    /* color: #8696AD; */
    color: #eb6b9d;
}

.btn {
    padding: 10px;
}

p {
    color: #8696AD;
    /* color: #fddcdc; */
}

#dd-m li a:hover {
    transition: 0.85s;
    background: black;
}

#dd-m li a {
    transition: 0.85s;
}

.custom-color-not-b {
    display: inline-block;
    /* background: linear-gradient(93.05deg, #EF9797 3.98%, rgba(206, 126, 199, 0.801616) 35.29%, #A364D6 68.78%,
    #A1D0F9 97.44%); */
    background-color: #ee8c68;
    background-image: linear-gradient(315deg, #ee8c68 0%, #eb6b9d 74%);
    width: fit-content;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

input[type=text] {
    background: #37393E;
}

textarea[type=text] {
    background: #37393E;
}

.random-red {
    /* background: linear-gradient(93.05deg, #EF9797 3.98%, rgba(206, 126, 199, 0.801616) 35.29%, #A364D6 68.78%,
    #A1D0F9 97.44%); */
    background-color: #ee8c68;
    background-image: linear-gradient(315deg, #ee8c68 0%, #eb6b9d 74%);
}


.content {
    display: flex;
    justify-content: space-between;
    max-width: 200px;
    margin: 0 auto;
    padding: 10px 0;
  }